# Rust - Archivos generados por Cargo
keylogger-rs/target/
**/*.rs.bk

# Binarios y símbolos de debug (ya cubiertos por /target/, pero es una buena práctica)
*.pdb
*.exe
*.dll
*.ilk
*.exp
*.lib

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Logs y variables de entorno
*.log
.env
.env.local